<%- include("partials/header.ejs") %>

    <div class="about">
        <div class="about1">
            <img src="images/knowledge.jpg" alt="knowlege" class="about-img">
            <div class="textbox">
                <p class="headForParagraph"> Share Your <span class="highlight">Knowledge</span></p>
                <p class="text"> Create blogs and share your knowledge to the world! World will help it grow. You can
                    even share your thoughts to the people. And your knowledge can help others and contribute a bit to
                    this world of internet.</p>
            </div>
        </div>
        <div class="about2">
            <div class="textbox">
            <p class="headForParagraph"><span class="highlight">Creative</span> Ideas</p>
            <p class="text">Share you creative ideas to the world! Have world know about your ideas and expand and grow it. May be a potential world problem be solved and you get maximum potential out of your ideas</p>
        </div>
            <img src="images/idea.jpg" alt="idea" class="about-img">
        </div>
        <div class="about3">

            <img src="images/community.jpeg" alt="community" class="about-img">
            <div class="textbox">
            <p class="headForParagraph">Communicate With <span class="highlight">Community</span></p>
            <p class="text">Communicate with commuinity and know what are thought of other peoples. What other things you can learn from others. Get new knowledge everday and grow yourself with Community!</p>
        </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>