<%- include("partials/header.ejs") %>
        <div class="checkmarkBox ">
            <div class="checkCircle ">
                <div class="tick "></div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>